<p id="notice"><%= notice %></p>
<div class="pull-right">
  <%= render 'export' %>
</div>

<div class="pull-right start">
  <%= form_tag users_path, method: :get, class: 'list' do %>
    <%= label_tag "start_at" %>
    <%= text_field_tag :start_at, nil, :class => 'datetimepicker', "data-date-format" => "yyyy-mm-dd" %>
    <%= label_tag "end_at" %>
    <%= text_field_tag :end_at, nil, :class => 'datetimepicker', "data-date-format" => "yyyy-mm-dd" %> 
    <%= submit_tag :Search, class: "btn btn-success", data: {disable_with: false}%>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><input type="checkbox" class="user_id" id="checked"></th>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Content</th>
            <th>Create At</th>
            <th>Tag</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'paginate', collection: @users, as: :user %>
				</tbody>
			</table>
			<div id = "paginate">
				<%= paginate @users, remote: true %>
  		</div>
    </div>
  </div>
</div>

<br>

<% content_for :javascript do %>

<script type="text/javascript">

$(function(){
  var checkIds = [];
  $('#checked').click(function(event){
    if(this.checked){
      $('tbody input:checkbox').each(function(){
        this.checked = true;
        checkIds.push($(this).attr("data-id"));
        $('#user_ids').val(checkIds);
      });
    } else{
      $(':checkbox').each(function(){
        this.checked = false;
        checkIds.splice($(this).attr("data-id"));
        $('#user_ids').val(checkIds);
      });
    }
  })
})

$(function() {
  var checkedId = [];

  $('tbody input:checkbox').change(
    function(e){
      if ($(this).is(':checked')) {
          checkedId.push(e.target.dataset.id);
          $('#user_ids').val(checkedId);
      } else {
          if ((index = checkedId.indexOf(e.target.dataset.id)) !== -1) {
              checkedId.splice(index, 1);
              $('#user_ids').val(checkedId);
        } 
      };
    });
});

$(function(){
  $(document).on('turbolinks:before-cache', function () {
    /* ----------- Fix table header ----------- */
    $('table.table-bordered').floatThead('destroy')
  })

  $(document).on('turbolinks:load', function () {
    $(document).ready(function () {
      /* ----------- Fix table header ----------- */
      $('table.table-bordered').floatThead({
        position: 'absolute',
        autoReflow: true
      });
    });
  });
});

$(function(){
  $('.datetimepicker').datepicker()
});


</script>

<% end %>