<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li class="active">
    <a href="#name" data-toggle="tab">
      用户名
    </a>
  </li>
  <li><a href="#email" data-toggle="tab">邮箱</a></li>
  <li><a href="#content" data-toggle="tab">内容</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="name">
    <p><%= @user.name %></p>
  </div>
  <div class="tab-pane" id="email">
    <p><%= @user.email %></p>
  </div>
  <div class="tab-pane" id="content">
    <p><%= @user.content %></p>
  </div>
</div>
  <div class="cat" style="float: left">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
  
  <div id="like_<%= @user.id %>">
    <%= render 'vote', locals: {user: @user} %>
  </div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" id="load">
  <div class="modal-dialog modal-sm">
    <div class="model-content" style="width:48px" id="icon">
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#tabs').click(function(e){
      $('#icon').html("<i class='fa fa-spinner fa-spin fa-3x'></i>");
      e.preventDefault();
      $('#load').modal({
        backdrop: "static",
        keyboard: false,
        show: true,
      });
      $('#load').modal("hide");
    });
  });
</script>